section {
    width: 100%;
}

.banniere {
    display: flex;
    justify-content: space-between;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.card_produit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantiters {
    display: flex;
    justify-content: space-between;
}

.action {
    margin-right: 40px;
}

/* banniere produit */

img {
    width: 20%;
}